<% layout("/layouts/boilerplate") %>

<body>
    <!-- <h2>Wander Lust</h2>
    <br> -->
    <!-- <form action="/listings/new" method="GET">
        <button>Create New</button>
    </form> -->
    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
        }
        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-bottom: 1rem;
            opacity: 0.7;
        }
        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }
        .filter p {
            font-size: 0.8rem;
        }
        .tax-info {
            color: tomato;
            display: none;
        }
        .tax-toggle {
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            padding: 0.5rem;
            height: 2.7rem;
        }
        @media (min-width: 300px) and (max-width: 600px) {
            .details-card-container {
                width: 100% !important;
                height: auto !important;
                display: flex !important;
                flex-wrap: wrap !important;
            }
            #filters {
                overflow-x: scroll;
                flex-wrap: nowrap;
                scrollbar-width: none; /* For Firefox */
            }
            .filter {
                margin-right: 1rem;
            }
            .tax-toggle {
                margin-left: 1rem;
            }
            .tax-toggle .form-check-label {
                font-size: 0.7rem;
            }
            .tax-toggle label {
                display: none;
            }
            .cards-container {
                width: 90vw;
                margin: auto;
            }
        }
    </style>
    
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Bed</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-chess"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Dome</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-gamepad"></i></div>
            <p>Play</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-ghost"></i></div>
            <p>Ghost</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" style="color: grey;" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 cards-container details-card-container">
        <% for (let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing image" style="height: 20rem";>
                    <div class="card-img-overlay">
                        <p class="card-text" style="color: white; font-size: 0.8rem; background-color: rgba(0, 0, 0, 0.5); padding: 0.2rem 0.5rem; border-radius: 0.5rem;">
                            <i class="fa-solid fa-location-dot"></i>&nbsp; <%= listing.location %>
                        </p>

                        <p class="card-text"  style="color: white; background-color: rgba(0, 0, 0, 0.3); padding: 0.2rem 0.5rem; font-size: 0.9rem; border-radius: 0.8rem; position: absolute; bottom: 0; left: 0; right: 0; margin-bottom: 0.6rem; margin-left: 0.5rem; margin-right: 0.5rem;">
                            &nbsp;&nbsp;&nbsp;&nbsp;<b><%= listing.title %></b>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&#8377; <%= listing.price.toLocaleString("en-IN") %>/ Night
                            <span class="tax-info">&nbsp;  +18% GST</sp>
                            <br>
                        </p>
                    </div>
                    <div class="card-body pt-1">
                        <!-- <p class="card-text"  style="color: #787878;">
                            &nbsp;&nbsp;&nbsp;&nbsp;<b><%= listing.title %></b>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&#8377; <%= listing.price.toLocaleString("en-IN") %>/ Night
                            <span class="tax-info">&nbsp;  +18% GST</sp>
                            <br>
                        </p> -->
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.querySelectorAll(".tax-info");
            taxInfo.forEach(info => {
                info.style.display = taxSwitch.checked ? "inline" : "none";
            });
        });
    </script>

</body>


